<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communiti-Contact</title>
    <style>
        body{
            background-color: rgb(16, 16, 27);
            color: white;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Contact us</h1>
        <p>If you have any questions, you can contact us: <br> By email: support@communiti.com <br> By phone: +91 75768 39114 <br> Address: Prestige Shantiniketan, ITPL Main Road, Whitefield, Bangalore, Karnataka - 560077</p>
    </div>
</body>
</html>